<%= form_for current_user.friends.build(:followed_id => @user.id), :remote => true do |f| %>
<div><%= f.hidden_field :followed_id %></div>
<div class="actions"><%= f.submit "Adauga prieten" %></div>
<% end %>